# I. Importing Libraries

In [5]:
import numpy as np
import pandas as pd

# Matplotlib and Seaborn
import matplotlib.pyplot as plt
import seaborn as sns
from string import ascii_letters

# Statistical Libraries
from scipy.stats import norm
from scipy.stats import skew
from scipy.stats.stats import pearsonr
from scipy import stats


# Regression Modeling
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std


# Other Libraries
import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
print(df.shape)
print(df.columns.tolist())

(1338, 7)
['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [8]:
print(df.dtypes)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [9]:

df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [10]:
df.describe(include='object').T

       count unique        top  freq
sex     1338      2       male   676
smoker  1338      2         no  1064
region  1338      4  southeast   364

In [11]:

df_uniques = pd.DataFrame([[i, len(df[i].unique())] for i in df.columns], columns=['Variable', 'Unique Values']).set_index('Variable')
df_uniques

          Unique Values
Variable
age                  47
sex                   2
bmi                 548
children              6
smoker                2
region                4
charges            1337

In [12]:
binary_variables = list(df_uniques[df_uniques['Unique Values'] == 2].index)
binary_variables

['sex', 'smoker']

In [13]:
categorical_variables = list(df_uniques[(6 >= df_uniques['Unique Values']) & (df_uniques['Unique Values'] > 2)].index)
categorical_variables

['children', 'region']

In [14]:
[[i, list(df[i].unique())] for i in categorical_variables]

[['children', [0, 1, 3, 2, 5, 4]],
 ['region', ['southwest', 'southeast', 'northwest', 'northeast']]]

In [15]:
ordinal_variables = ['children']