In [1]:
1+1

2

In [2]:
2433/435

5.593103448275862

In [ ]:
# Hi Skillenable 

## I am a student

My name is **MAUMITA SAHA**

I am an expert in :

>Tableau

>Python

>R

>SQL

>Excel

# Hi Skillenable 

## I am a student

My name is **<font color=red>MAUMITA SAHA</font>**

I am an expert in :

>Tableau

>Python

>R

>SQL

>Excel


**Markdown for Jupyter notebooks cheatsheet:**
https://ingeh.medium.com/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

# PRINT

In [4]:
print ("MY NAME IS MAUMITA")
#whatever you type in print under " " or ' ' it will be printed

MY NAME IS MAUMITA

In [5]:
print ('MY NAME IS MAUMITA')

MY NAME IS MAUMITA

In [6]:
print("987")

987

In [7]:
print("jadbfjxhvfniuhksdfiouh")

jadbfjxhvfniuhksdfiouh

In [ ]:
#Given a=10 , b=12. What is sum of two nos.?

a=10
b=12
c=a+b
print(c)
print() #print blank line

print('c') # if you write in ' ' it will print the same thing and not the value
print()

print(a)
print(b)
print()

print('Addition: ',c)

print('Addition of a =',a, '& b =',b, 'is c =',c)

In [ ]:
a=1987
b=12445
c=a+b
print(c)
print() #print blank line

print('c') # if you write in ' ' it will print the same thing and not the value
print()

print(a)
print(b)
print()

print('Addition: ',c)

print('Addition of a =',a, '& b =',b, 'is c =',c)

In [ ]:
#input from the user

a=input() #function
b=input()
c=a+b
print(c)
print() #print blank line

print('c') # if you write in ' ' it will print the same thing and not the value
print()

print(a)
print(b)
print()

print('Addition: ',c)

print('Addition of a =',a, '& b =',b, 'is c =',c)

# Type Function 

defines which data type of function is it.

In [27]:
type(100)

int

In [28]:
type('100')

str

In [29]:
type(100.32)

float

In [30]:
type("Mau")

str

In [32]:
type(7-8j)
#this is the only complex no. format it accepts

complex

In [33]:
print(4-989i)
#it will give error

SyntaxError: invalid syntax (<ipython-input-33-11681af563ca>, line 1)

In [34]:
x=input()
print("You enterned",x)

8792
You enterned 8792

In [37]:
#what to see what is the data type
x=input()
print(type(x))
#it gives string its an error

3243
<class 'str'>

# TYPECASTING

It is the process of forcefully change the data type

In [39]:
i =98 #i is integer
print(i)
print(type(i))

#store i in float format
f = float(i)
print(f)
print(type(f))

98
<class 'int'>
98.0
<class 'float'>

In [41]:
i =98.98896 #i is integer
print(i)
print(type(i))

#store i in float format with int data type
f = int(i) #data type is changed to integer
print(f)
print(type(f))

98.98896
<class 'float'>
98
<class 'int'>

In [43]:
#input from the user

a=input() #a is in str format
b=input() #b is in str format

#converting string to integer
a=int(a)
b=int(b)
c=a+b
print(c)
print() #print blank line

print('c') # if you write in ' ' it will print the same thing and not the value
print()

print(a)
print(b)
print()

print('Addition: ',c)

print('Addition of a =',a, '& b =',b, 'is c =',c)

234
234
468

c

234
234

Addition:  468
Addition of a = 234 $ b = 234 is c = 468

In [47]:
a=int(input()) #a is in str format so converted to int
b=int(input()) #b is in str format


c=a+b
print(c)
print() #print blank line

print('c') # if you write in ' ' it will print the same thing and not the value
print()

print(a)
print(b)
print()

print('Addition: ',c)

print('Addition of a =',a, '& b =',b, 'is c =',c)

768
878
1646

c

768
878

Addition:  1646
Addition of a = 768 & b = 878 is c = 1646

In [48]:

a=int(input("Enter 1st number = ")) #a is in str format so converted to int
b=int(input("Enter 2nd number = ")) #b is in str format


c=a+b
print(c)
print() #print blank line

print('c') # if you write in ' ' it will print the same thing and not the value
print()

print(a)
print(b)
print()

print('Addition: ',c)

print('Addition of a =',a, '& b =',b, 'is c =',c)

Enter 1st number = 35
Enter 2nd number = 87
122

c

35
87

Addition:  122
Addition of a = 35 & b = 87 is c = 122

# Conditional Statements


eg:
if sunny:
    movie

if sunny:
    movie
else:
    Home

if sunny:
movie
elseif raining:
    long drive
elseif windy:
    football   
else:
    Home

# if SYNTAX

if condition:
    do this
    do this
    do this
    
#if else SYNTAX

if condition:
    do this
    do this
else:
    do this
    do this
    
# if-elif-else SYNTAX:

if condition1:
    do this
    do this
elif condition2:
    do this
    do this
elif condition3:
    do this
    do this
else:
    do this
    do this

# IF Syntax

In [59]:
x = 5 
if x>3:
    print("if condition successfull")
print("out of if") #not a part of if condition that is y it is printed

if condition successfull
out of if

In [57]:
x = -15 
if x>3:
    print("if condition successfull")
print("out of if")

out of if

# IF-ELSE Syntax

In [56]:
x = 5 
if x>0:
    print(x,"is positive no.")
else:
    print(x,"is negative no.")
print("out of if-else")

5 is positive no.
out of if-else

In [55]:
x = -5 
if x>0:
    print(x,"is positive no.")
else:
    print(x,"is negative no.")
print("out of if-else")

-5 is negative no.
out of if-else

In [60]:
x = 0
if x>0:
    print(x,"is positive no.")
else:
    print(x,"is negative no.")
print("out of if-else")

0 is negative no.
out of if-else

# IF_ELIF_ELSE Syntax

In [64]:
x = 0
if x>0:
    print(x,"is a Positive Number")
elif x<0:
    print(x,"is a Negative Number")
else:
    print("Number is 0 i.e. neither negative nor positive")
    
print("Out of if else")

Number is 0 i.e. neither negative nor positive
Out of if else

# LIST

It is collection of items of dissimilar datatypes

It is stored in [ ] square brackets.

In [65]:
l = [10,-10,1.21,-98.78,"Darshan","SkillEnable",3+98j]
print(l)
print(type(l))

[10, -10, 1.21, -98.78, 'Darshan', 'SkillEnable', (3+98j)]
<class 'list'>

In [74]:
l = [10,20,30,40,50]
print(l)
print(type(l))
#Indexing
    #0   1   2   3   4
#l  #10  20  30  40  50
    #-5  -4  -3  -2  -1


print(l[0])
print(l[4])
#print(l[10]) #Index error: index out of range
print(l[-1])
print(l[-4])

[10, 20, 30, 40, 50]
<class 'list'>
10
50
50
20

# SLICING 

getting piece out

In [69]:
l = [10,20,30,40,50]
print(l)

#Indexing
    #0   1   2   3   4
#l  #10  20  30  40  50
    #-5  -4  -3  -2  -1

#i want elements from 20,30,40 out of the list
print(l[1:3]) #You wont get the output u want #Start Index = 1, End Index =(n-1) =(3-1)
print(l[1:4])

[10, 20, 30, 40, 50]
[20, 30]
[20, 30, 40]

# Tuples

It is a collection of items of dissimilar datatypes.

It is stored using ( ) brackets.

eg: Aadhar card, Passport Number, etc

In [79]:
l = (10,20,30,40,50)
print(l)
print(type(l))
#Indexing
    #0   1   2   3   4
#l  #10  20  30  40  50
    #-5  -4  -3  -2  -1


print(l[0])
print(l[4])
#print(l[10]) #Index error: index out of range
print(l[-1])
print(l[-4])


#i want elements from 20,30,40 out of the list
print(l[1:3]) #You wont get the output u want #Start Index = 1, End Index =(n-1) =(3-1)
print(l[1:4])

(10, 20, 30, 40, 50)
<class 'tuple'>
10
50
50
20
(20, 30)
(20, 30, 40)

# DIFFERENCE BETWEEN LIST AND TUPLE

1. Lists are Mutable i.e. Flexible


2. Tuples are Immutable i.e. Fixed


3. Tuples are used when you dont want the value to be changed.


4. Eg of tuple: Aadhar card, Passport Number, Emp Id, license number, UAN no., pan number etc


5.Tuples is stored using ( ) brackets.


6.List is stored in [ ] square brackets.

In [78]:
# Lists are Mutable i.e. Flexible

l = [10,20,30,40,50]
print(l)
print(l[0])
l[2] = "Darshan"
print(l)

[10, 20, 30, 40, 50]
10
[10, 20, 'Darshan', 40, 50]

In [77]:
# Tuples are Immutable i.e. Fixed

l = (10,20,30,40,50)
print(l)
print(l[0])
l[0] = "Darshan"
print(l)

#TypeError: 'tuple' object does not support item assignment

(10, 20, 30, 40, 50)
10

TypeError: 'tuple' object does not support item assignment