# **LOOPS** 

repeated again and again

>for

>while

In [2]:
l = [10,20,30,40,50]
print(l)

#to check if the number is there in the list or not
print(40 in l) #in is called as MEMBERSHIP OPERATOR
print(202 in l) #is 202 in l
print(40 not in l) # is 40 not in l

[10, 20, 30, 40, 50]
True
False
False

# FOR LOOP

#for loop SYNTAX:

for var in iterable:
    do this
    do this

In [3]:
#list
l = [10,20,30,40,50]

for i in l: #i is variable 
    #is 10 in the l 
    #is 20 in the l 
    #is 30 in the l 
    #is 40 in the l 
    #is 50 in the l 
    #is 60 in the l - no so this loop will break here
    print(i)

10
20
30
40
50

In [13]:
#tuples
l = (10,20,30,40,50)

for i in l:
    print(i)

10
20
30
40
50

In [4]:
#any variable is irrable
l = [10,20,30,40,50]

for mau in l:
    print(mau)

10
20
30
40
50

In [5]:
# you can also write it as
for mau in [10,20,30,40,50]:
    print(mau)

10
20
30
40
50

In [6]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i)
#doesnt display in a horrizontal line so

10
20
30
40
50
60
70
80
90
100

In [18]:
#if so many values are ther then
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i, end = "\n") # \n - new line

10
20
30
40
50
60
70
80
90
100

In [19]:
#if so many values are ther then
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i, end = "\t") # \t - tab

10	20	30	40	50	60	70	80	90	100

In [21]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i, end = " ") # leave blank to get it in a single line

10 20 30 40 50 60 70 80 90 100

In [22]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i, end = "++++++")

10++++++20++++++30++++++40++++++50++++++60++++++70++++++80++++++90++++++100++++++

# **range()**

used to generate a set of numbers

range(n) - generate numbers from 0 to (n-1)

In [23]:
range(5)
#it will generate numbers from 0 to (5-1)

range(0, 5)

In [24]:
#range() only works with for loop

for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [25]:
for i in range(50):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [7]:
for i in range(50):
    if i%2==0:
        print(i,"is EVEN ")
    else:
        print(i,"is ODD ")

0 is EVEN
1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN
11 is ODD
12 is EVEN
13 is ODD
14 is EVEN
15 is ODD
16 is EVEN
17 is ODD
18 is EVEN
19 is ODD
20 is EVEN
21 is ODD
22 is EVEN
23 is ODD
24 is EVEN
25 is ODD
26 is EVEN
27 is ODD
28 is EVEN
29 is ODD
30 is EVEN
31 is ODD
32 is EVEN
33 is ODD
34 is EVEN
35 is ODD
36 is EVEN
37 is ODD
38 is EVEN
39 is ODD
40 is EVEN
41 is ODD
42 is EVEN
43 is ODD
44 is EVEN
45 is ODD
46 is EVEN
47 is ODD
48 is EVEN
49 is ODD

In [26]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [27]:
#specify from 0 to 5
for i in range(0,5):
    print(i,end=" ")

0 1 2 3 4

In [28]:
#specify from 1 to 5
for i in range(1,5): # it goes from 1 to (5-1)
    print(i,end=" ")

1 2 3 4

In [29]:
#specify from 10 to 23
for i in range(10,23):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19 20 21 22

In [30]:
#specify from 1 to 10
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [9]:
#STEP SIZE - the 3rd parameter which is specified 
for i in range(1,10,1): #after 1 steps values are considered
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [32]:
#STEP SIZE

for i in range(1,10,2): #after 2 steps values are considered
    print(i,end=" ")

1 3 5 7 9

In [33]:
#STEP SIZE
for i in range(1,10,3):#after 3 steps values are considered
    print(i,end=" ")

1 4 7

# WHILE LOOP

#while loop syntax:

initialization
while condition:
    do this
    do this
    increment/decrement

In [10]:
#Program to print Natural no. from 1 to 5

i = 1 #no automated behaviour so it starts from 1 and then i+1, if it is there and is less than or equal to 5 then it is printed

while i<=5:
    print(i,end=" ")
    i = i+1

1 2 3 4 5

**Functions**

Two types:
>build-in

>user defined function

# BUILD-IN

In [13]:
#Build-in - python konows this functions
print("Hello Mau")
print(type(99))
print(pow(2,3)) #power function

Hello Mau
<class 'int'>
8

In [15]:
#calling/import math module
import math
math.sin(45)

0.8509035245341184

In [16]:
import math as m

In [17]:
#Math function - module impact

print(m.sin(45))
print(m.cos(45))
print(m.log(45))
print(m.tan(45))
print(m.exp(45))
print(m.factorial(5))
print(m.pow(3,5))

0.8509035245341184
0.5253219888177297
3.8066624897703196
1.6197751905438615
3.4934271057485095e+19
120
243.0

In [18]:
help(m) #to know math function

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# USER-DEFINED FUNCTION

In [20]:
#user defined functions
#def is used for defining  a function

#def name of fn():
def greet():
    print("Hello")
    print("Thank you")
#this will not print anything unless and untill i call it

In [21]:
greet()

Hello
Thank you

In [48]:
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
for i in range(5):
    greet() 
#values already defined in greet is being printed 5 times

Hello
Thank you
Hello
Thank you
Hello
Thank you
Hello
Thank you
Hello
Thank you

In [22]:
greet()

Hello
Thank you

In [23]:
#parameters passing in the console

def mno(a): #accepting some number as a parameter
    print("I recieved",a)
mno("Mau") # variable a saves Mau
mno(100) # variable a saves 100
mno(2+4)# variable a saves 2+4

I recieved Mau
I recieved 100
I recieved 6

In [25]:
#Add of 2 no. using functions

def addn(a,b):
    c=a+b
    print(c)
    
addn(1,5)
addn(5,-9)
addn(35.56,43.676578)
addn("mau"," saha") #Stings can never be added. therefore mau saha is concatinated together

6
-4
79.23657800000001
mau saha

In [55]:
#Return values using functions

def addn(a,b):
    c=a+b
    return c

In [57]:
res = addn(12,8)
print(res)

20

# **List functions**

In [67]:
l = [10,20,30,40,50]
print(l)
l.append("Mau") # add something to the list
print(l)
l.remove(20) #remove anything from the list
print(l)
l.extend([34,565,7678,678]) #add more items or something pass it in the form of list
print(l)
l.remove("Mau") #remove mau from the list before sorting
print(l)
l.sort() #sorting list
print(l)
l = [10, 30, 34, 40, 50, 565, 678, 7678] #restore it back in unsorted order
print(l)
l.sort(reverse=True) # decending order
print(l)
l = [10, 30, 34, 40, 50, 565, 678, 7678] 
print(l)
l.reverse() #reverse the list
print(l)
print(l.index(565)) #index no of the value

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Mau']
[10, 30, 40, 50, 'Mau']
[10, 30, 40, 50, 'Mau', 34, 565, 7678, 678]
[10, 30, 40, 50, 34, 565, 7678, 678]
[10, 30, 34, 40, 50, 565, 678, 7678]
[10, 30, 34, 40, 50, 565, 678, 7678]
[7678, 678, 565, 50, 40, 34, 30, 10]
[10, 30, 34, 40, 50, 565, 678, 7678]
[7678, 678, 565, 50, 40, 34, 30, 10]
2

https://docs.python.org/3/tutorial/datastructures.html

https://www.w3schools.com/python/python_ref_list.asp

**Note** : There are no functions of tuples

# NOT LIST/TUPLE FUNCTIONS

In [68]:
print(l)

[7678, 678, 565, 50, 40, 34, 30, 10]

In [26]:
l = [7678, 678, 565, 50, 40, 34, 30, 10]

#all the functions in this cell are generic functions 
#i.e they are not list/tuple function
print(sum(l))
print(len(l))
print(sum(l)/len(l)) #avg
print(max(l))
print(min(l))

9085
8
1135.625
7678
10

In [73]:
l = (7678, 678, 565, 50, 40, 34, 30, 10)

#all the functions in this cell are generic functions i.e they are not list/tuple function
print(sum(l))
print(len(l))
print(sum(l)/len(l)) #avg
print(max(l))
print(min(l))

9085
8
1135.625
7678
10

# SETS

A set is a collection which is unordered and unindexed.

It is saved using {} 

It never saves duplicate values

In [29]:
s = {"apple","banana","mango","cherries","pineapple"}
print(s)
#not printing in order and is unindexed

{'mango', 'banana', 'apple', 'pineapple', 'cherries'}

In [76]:
#sets store only unique values
s={"apple","banana","mango","cherries","pineapple","apple","banana","mango","cherries","pineapple","apple","banana","mango","cherries","pineapple"}
print(s)
#it never saves duplicate values

{'apple', 'mango', 'pineapple', 'banana', 'cherries'}

In [78]:
x = {"google","microsoft","apple"}
y = {"apple","banana","cherry"}
print(x-y)
print(y-x)
#visualise as a ven diagram

{'google', 'microsoft'}
{'banana', 'cherry'}

# Dictionary

They are saved in **{key:value}** form

Its used to deal with unordered set of key value pairs.

Key value pairs is called as item.

The values in the dictionary are mutable.

The keys in the dictionary are immutable

In [30]:
d={100:"COMP", 23:"EXTC", 672:"CHEM"}
print(d)

#index: 100   23    672
#d:     COMP  EXTC  CHEM

print(type(d))
print(d[100])
print(d[672])

{100: 'COMP', 23: 'EXTC', 672: 'CHEM'}
<class 'dict'>
COMP
CHEM

In [85]:
#key should not be a itterable
d = { 1:100, 1.211:98, "mau":54, 6-9j:"Dev", 34:[1,2,3,4]}
print(d)
print(type(d))
print(d["mau"])
print(d[6-9j])
print(d[34])

{1: 100, 1.211: 98, 'mau': 54, (6-9j): 'Dev', 34: [1, 2, 3, 4]}
<class 'dict'>
54
Dev
[1, 2, 3, 4]

# ADVANCED PYTHON

map(), filter() and lambda()

## map()

It applies the given fn to all iterables and returns a new list.

SYNTAX:
**map(function, iterables)**

In [88]:
#without map function

def sqr(a):
    return a*a
x=sqr(5)
print(x)

25

In [89]:
#with map function
def sqr(a):
    return a*a

#map( FUN , ITR)
x=map(sqr,[1,2,3,4])
print(x) #fn
print(list(x)) #ITR

# ITR is returned to sqr(a)
#<map object at 0x0000020CCFF32490>
#[1, 4, 9, 16] is stored in the memory location of 0x0000020CCFF32490 address


#print(tuple(x))
#print(set(x))

<map object at 0x0000020CCFF32490>
[1, 4, 9, 16]

In [91]:
def multiply(a,b):
    return a*b

#x=map(FUN,ITRs)
x=map(multiply,[1,2,3,4],[2,2,2,2])
print(list(x))

#solution
#a =[1,2,3,4]
#b = [2,2,2,2]
#c= a*b = [1,2,3,4] * [2,2,2,2] = [1*2, 2*2, 3*2, 4*2] = [2, 4, 6, 8]

[2, 4, 6, 8]

In [92]:
def add(a,b):
    return a+b

#x=map(FUN,ITRs)
x=map(add,[1,2,3,4],[2,2,2,2])
print(list(x))

[3, 4, 5, 6]

In [93]:
def sqrtt(a,b):
    return a+b

#x=map(FUN,ITRs)
x=map(sqrtt,[1,2,3,4],[2,2,2,2,2]) # index values are not same still it will execute
print(list(x))

[3, 4, 5, 6]

In [31]:
def sqrtt(a,b):
    return a+b

y = map (sqrtt, [1,2,3,4], [2,3,4,6, 7])
#it will skip the 5th value
print(list(y))

[3, 5, 7, 10]

# Lambda Functions

They are the fn which dont have any name.

They are generally provided as input to other fns.

Lambda fn are single line fn.

They are one time use.

SYNTAX:

**lambda arguments : expression**

In [95]:
#without lambda fn

def sqr(a):
    return a*a
print(sqr(3))

9

In [96]:
#with lambda fn

x = lambda a : a*a 
#lambda a is argument : a*a is expression
print(x(3))

#the value of 3 goes in lambda a =3 and then a*a = 3*3 = 9

9

In [97]:
x = lambda a : a+100 
#lambda a is argument : a+100is expression
print(x(3))

#the value of print(x(3)) , 3 goes in lambda a =3 and then a+100 = 3+100 = 103

103

In [98]:
#linear eqn : 5x+3y
#Lambda accepting 2 values
z=lambda x, y : 5*x +3*y
print(z(1,2))

#print(z(1,2)) , 1,2 value is put in lambda x,y and then 5*1+3*2=11

11

In [32]:
z=lambda x, y : (x+y)**2
print(z(1,2))

9

**NOTE:**

>map(function, iterables)

>lambda arguments : expression

ideally, lambda is used along with map functions

In [34]:
#declare a list
l=[1,2,3,4]
#create map function
#x=map(FUN,ITRs)
x=map(lambda a: a+3 ,l)
print(list(x))

#iterable is l .. which is passing to the lambda arguments and then add

[4, 5, 6, 7]

In [35]:
#Simplifying the code
x=map(lambda a: a+3 ,[1,2,3,4])
print(list(x))

[4, 5, 6, 7]

In [100]:
#simpliest way of writing the above code
print(list(map(lambda a: a+3 ,[1,2,3,4])))

[4, 5, 6, 7]

In [101]:
print(list(map(lambda a: a*a ,[1,2,3,4])))

[1, 4, 9, 16]

In [106]:
print(list(map( lambda a,b: a*b ,[1,2,3,4],[2,2,2,2])))
#List is the typecaste

[2, 4, 6, 8]

# filter()

It is used to filter the given iterables with the help of another fn passed as an argument to test all the elements to be True or false.

SYNTAX:

**filter(FUNCTION, ITERABLES)**

In [108]:
l=[1,2,3,4,5]
#filter(FUNCTION, ITERABLES)
print(list(filter(lambda s: s>=3 ,l)))

[3, 4, 5]

In [109]:
#using filter

print(list(filter(lambda s: s>=3 ,[1,2,3,4,5])))

[3, 4, 5]

In [115]:
#using filter

print(list(filter(lambda s: s>=3 ,[1,2,3,4])))

[3, 4]

In [36]:
#using map

print(list(map(lambda s: s>=3 ,[1,2,3,4,5])))
#map is giving me the logical value

[False, False, True, True, True]

In [126]:
#filter within map
print(list(map(lambda x : pow(x,2) , filter(lambda x : x>=3, [1,2,3,4]))))

#filter(lambda x : x>=3, [1,2,3,4] - 3,4
# now after using map 3, is being sqr by  pow(x,2) function

[9, 16]

In [125]:
#map within filter

print(list(filter(lambda x: x>=6,map(lambda x: x+3 , [1,2,3,4]))))

[6, 7]